body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
body *{
    margin: 0;
    padding: 0;
}
header{
    z-index: 9;
    position: relative;
    width: 100%;
    height: 50px;
    box-shadow: rgba(30,30,30,0.16) 0px 20px 25px;
}
#logo img{
    margin-left: 60px;
    margin-top: 5px;
    height: 40px;
}
#headerNav ul{
    width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 360px;
    line-height: 50px;
}
#headerNav li{
    width: 100px;
    height: 100%;
    text-align: center;
    float: left;
}
#headerNav li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    color: #0a0a0a;
}
#sideNav{
    overflow-y: hidden;
    background-color: white;
    width: 70px;
    height: 70px;
    position: fixed;
    top:-70px;
    left: 1620px;
    transition: 0.3s;
    opacity: 0;
    border-radius: 35px;
    box-shadow: #5252529f 0 0 25px;  
    text-align: center;
}
#sideNav img{
    margin-top: 5px;
    width: 60px;
}
#sideNav p{
    font-size: 7px;
    font-weight: 800;
    margin-bottom: 2px;
}
.banner{
    position: relative;
    width: 100%;
    height: 300px;
    background: linear-gradient(180deg, #70D8FF 0%, #70A4FF 100%);
}
.banner h1{
    left:500px;
    position: absolute;
    top: 54px;
    font-size: 80px;
    line-height: 64px;
    font-weight: 900;
    font-family: 'Noto Sans', sans-serif;
    background-image: linear-gradient(180deg, rgb(256,256,256) 0%, rgb(220,220,220) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner #SCHOOL{
    right: 500px;
    top: 15px;
    position: absolute;
    height: 90%;
}
.mentsContainer {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.mentsContainer img{padding: 0 10px;}
.ment {
    border: 1px #111 solid;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    transition: .3s;
    color: #0a0a0a;
    margin-top: 10px;
    padding: 10px;
}
.ment:nth-child(2) {left: 50%;margin-left: -330px;}
.ment:nth-child(4) {left: 50%;margin-left: -210px;}
.ment:nth-child(6) {left: 50%;margin-left: -150px;}
.ment:nth-child(8) {left: 50%;margin-left:  -20px;}
.ment:nth-child(10) {left: 50%;margin-left: 130px;}
.mentsContainer img:hover+.ment{opacity: 1;}
.mentsContainer h1 {
    margin-top: 60px;
    text-align: center;
    font-weight: bolder;
    color: #2D2D2D;
    font-size: 40px;
}
article h1 {
    margin-top: 60px;
    text-align: center;
    font-weight: 900;
    color: #2D2D2D;
}
.infoContainer {
    position: relative;
    width: 50%;
    height: 600px;
    left: 25%;
}
.infoContainer p{
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 50px;
}
.schoolInfo img{
    position: relative;
    left: 0;
    top: 0;
    float: left;
}
.schoolInfo p{
    position: relative;
    left: 50px;
    top: 50px;
    font-size: 30px;
    text-align: left;
    font-weight: 800;
}
.teacherProgram p{
    position: absolute;
    left: -90px;
    top: 350px;
    font-size: 30px;
    text-align: right;
    font-weight: 800;
}
.teacherProgram div{
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 400px;
    height: 300px;
}
.teacherProgram div img {
    position: relative;
    bottom: -30px;
    right: 20px;
}
#navTab{
    position: relative;
    background-size: cover;
    background-image: url(../images/학교배경.png);
    width: 100%;
    height: 1080px;
    text-align: center;
}
#navTab ul{
    display: flex;
    justify-content: center;
    width: 900px;
    height: 345px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -172.5px;
    margin-left: -450px;
}
#navTab li{
    position: relative;
    width: 300px;
    height: 345px;
    background-color: rgba(255,255,255,0.5);
    transition: 0.4s;
}
#navTab li:hover{
    background-color: rgba(255,255,255,0.7);
}
#navTab h2{
    color: rgb(20,20,20);
    margin-top: 60px;
}
#navTab p{
    font-weight: 550;
    font-size: 18px;
    color: rgb(20,20,20);
    margin-top: 20px;
}
.plusButton{
    left: 50%;
    margin-left: -37.5px;
    display: inline-block;
    bottom: 40px;
    position: absolute;
    width: 75px;
    height: 75px;
    text-align: center;
    transform: scale(0.9);
    transition: 0.2s;
}
.plusButton img{margin-top: 5px;}
.plusButton:hover{transform: scale(1.05);}




footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color:#E6E6E6;
}
.footerContainer {
    position: absolute;
    width: 600px;
    height: 100px;
    left: 50%;
    margin-left: -250px;
}
.footerContainer img{
    height: 30px;
    left: -100px;
    top: 20px;
    position: relative;;
}
.footerContainer h1{
    font-size: 25px;
    color: #A8A8A8;
    position: relative;
    left: -100px;
    top: 15px;
}
.footerContainer h2{
    font-size: 12px;
    text-align: right;
    right: 0;
    top: 30px;
    position: absolute;
    font-family: 'Sawarabi Gothic', sans-serif;
}
  