body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
body *{
    margin: 0;
    padding: 0;
}
header{
    z-index: 9;
    position: relative;
    width: 100%;
    height: 50px;
    box-shadow: rgba(30,30,30,0.16) 0px 20px 25px;
}
#logo img{
    margin-left: 60px;
    margin-top: 5px;
    height: 40px;
}
#headerNav ul{
    width: 600px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 360px;
    line-height: 50px;
}
#headerNav li{
    width: 100px;
    height: 100%;
    text-align: center;
    float: left;
}
#headerNav li a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    text-decoration: none;
    color: #0a0a0a;
}
#sideNav{
    overflow-y: hidden;
    background-color: white;
    width: 70px;
    height: 70px;
    position: fixed;
    top:-70px;
    left: 1620px;
    transition: 0.3s;
    opacity: 0;
    border-radius: 35px;
    box-shadow: #5252529f 0 0 25px;  
    text-align: center;
}
#sideNav img{
    margin-top: 5px;
    width: 60px;
}
#sideNav p{
    font-size: 7px;
    font-weight: 800;
    margin-bottom: 2px;
}
.banner{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0px 0 60px 0;
    background: linear-gradient(180deg, #70D8FF 0%, #70A4FF 100%);
}
.banner h1{
    position: relative;
    text-align: center;
    top: 30px;
    font-size: 65px;
    line-height: 64px;
    font-weight: 900;
    font-family: 'Noto Sans', sans-serif;
    background-image: linear-gradient(180deg, rgb(256,256,256) 0%, rgb(220,220,220) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#sectionNav{
    position: relative;
    top:124px;
    background-color: #ececec;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#sectionNav ul{
    position: relative;
    width: 600px;
    height: 55px;
    display: flex;
    justify-content: space-around;
}
#sectionNav li{
    height: 100%;
}
#sectionNav p{
    line-height: 2.7;
}
#arrow{
    /* 14, 47.5, 81  */
    left: 81%; 
    top: 40px;
    position: absolute;
    width: 0px;
    height:0px;
    border-top:15px solid none;
    border-left: 15px solid transparent;
    border-right:15px solid transparent;
    border-bottom:15px solid white ;
}
section{
    background-color: white;
    width: 100%;
    height: 1000px;
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color:#E6E6E6;
}
.footerContainer {
    position: absolute;
    width: 600px;
    height: 100px;
    left: 50%;
    margin-left: -250px;
}
.footerContainer img{
    height: 30px;
    left: -100px;
    top: 20px;
    position: relative;;
}
.footerContainer h1{
    font-size: 25px;
    color: #A8A8A8;
    position: relative;
    left: -100px;
    top: 15px;
}
.footerContainer h2{
    font-size: 12px;
    text-align: right;
    right: 0;
    top: 30px;
    position: absolute;
    font-family: 'Sawarabi Gothic', sans-serif;
}
  