* {
  padding: 0;
  margin: 0;
  --main-color: #f60;
  --sub-color: #ff8a00;
  --background-color: #ffffff;
  letter-spacing: -2px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
}
